/* .element-one-page {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  width: 100%;
  max-width: 360px;
  padding: 0 16px;
} */

/* @media (min-width: 768px) {
  .main-content {
    max-width: 1170px;
  }
} */
