.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.section-ti {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  position: relative;
}
.input-wrapper:nth-child(1),
.input-wrapper:nth-child(2) {
  margin-bottom: 50px;
}

.input-wrapper:nth-child(3) {
  margin-bottom: 43px;
}

.input {
  width: 100%;
  height: 54px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  font-size: 16px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.input::placeholder {
  color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset !important;
}

.floatingLabel {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-40%);
  color: #7e7e7e;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease-out;
  padding: 0;
  background-color: #f8f8f8;
  user-select: none;
  white-space: nowrap;
  border-radius: 4px;
}

.input:focus + .floatingLabel,
.input:not(:placeholder-shown) + .floatingLabel {
  top: -3px;
  font-size: 12px;
  padding: 0 4px;
}

.errorInput {
  border-color: #cb3d40 !important;
  height: 54px;
}

.errorInput:focus + .floatingLabel,
.errorInput:not(:placeholder-shown) + .floatingLabel {
  color: #cb3d40;
  top: 2px;
}

.error {
  position: absolute;
  padding-top: 4px;
  padding-left: 16px;
  left: 0;
  font-size: 12px;
  color: #cb3d40;
  line-height: 1;
  pointer-events: none;
}
.photoError {
  position: absolute;
  top: 53px;
  font-size: 12px;
  color: #cb3d40;
  padding-left: 16px;
  padding-top: 4px;
}

.phone-wrapper {
  position: relative;
}

.phone-hint {
  position: absolute;
  left: 16px;
  top: 60px;
  font-size: 12px;
  color: #7e7e7e;
  line-height: 1.16;
}

.radio-group {
  height: 161px;
  margin-bottom: 48px;
}

.legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 11px;
  padding: 0;
  width: 325px;
  height: 25px;
}

.signup-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.signup-form label {
  display: flex;
  height: 26px;
}

.activeButton {
  background-color: #f4e041;
}

/* Трохи яскравіший жовтий при ховері */
.activeButton:hover {
  background-color: #ffe302;
}

/* Сіра кнопка коли форма невалідна */
.inactiveButton {
  background-color: #b4b4b4;
  color: #fff;
  cursor: not-allowed;
}

/* Якщо хочеш, щоб при наведенні на неактивну кнопу нічого не змінювалось */
.inactiveButton:hover {
  background-color: #b4b4b4;
  cursor: not-allowed;
}

.radioLabel {
  align-items: center;
  margin-bottom: 7px;
}

.signup-form input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid #d0cece;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  margin-right: 12px;
}

.signup-form input[type="radio"]:checked {
  border-color: #00bdd3;
  background-color: #00bdd3;
  box-shadow: inset 0 0 0 4px #fff;
}

.file-upload {
  align-items: center;

  display: flex;
  width: 100%;
  height: 54px;
  border-radius: 4px;
  overflow: visible;
  margin-bottom: 50px;
}

.upload-button {
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0 0 4px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 14px 15px;
  transition: border-color 0.3s ease;
  height: 54px;
  margin-left: -1px;
}

.uploadButtonNoBorder {
  height: 54px;
  border-color: transparent;
  border: 2px solid #cb3d40 !important;
  border: none;
}

.upload-text {
  flex: 1;
  height: 54px;
  border-radius: 0 4px 4px 0;
  padding: 14px 15px;
  color: #7e7e7e;
  box-sizing: border-box;
  background-color: white;
  border-left-width: 0;
  border: 1px solid #d0cfcf;
  border-left: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: block;
  line-height: 26px;
}

.upload-text-error {
  border: 2px solid #cb3d40 !important;
  border-left: none !important;
}

.file-upload input[type="file"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* Кнопка сабміту */
.signup-button {
  width: 100px;
  height: 34px;
  margin: 0 auto;
  border-radius: 80px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 100px;
}

.successMessage {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-bottom: 50px;
}
.successMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.successIcon {
  width: 328px;
  height: 290px;
  margin-bottom: 100px;
}
.testSignature {
  height: 60px;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #d0cfcf;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
/* Адаптив */
@media (min-width: 768px) {
  .signup-form {
    padding-left: 162px;
    padding-right: 162px;
  }
}

@media (min-width: 1024px) {
  .signup-form {
    padding-left: 262px;
    padding-right: 262px;
  }
  .phone-hint {
    top: 59px;
  }

  .phone-hint {
    bottom: 16px;
  }
}

@media (min-width: 1170px) {
  .signup-form {
    padding-left: 395px;
    padding-right: 395px;
  }
}
